@media screen and (max-width:992px) {
    .fa-5x {
        font-size: 3em !important;
    }
}

.backTopBtn .text-warning{
    background-color: #e040fb;
    border-radius: 100px;
}

.backTopBtn{
	position: fixed;
    bottom: 2em;
    left: -5px;
}