#logo{
    text-align: center;
    vertical-align: middle;
}

.homeImg{
    height: 100%;
    flex: 1;
    text-align: center;
    vertical-align: middle;
}

#title{
    text-align: center;
    vertical-align: middle;
    border: black 5px solid;
}

#shadow{
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

#photo .carousel-inner .row{
    margin-left: 0px;
    margin-right: 0px;
}

#photo .carousel-inner .row img{
    padding: 0px;
}